 
   body,html {
    margin: 16px;
    font-family: sans-serif;
              }
  
  ul {
    padding: 0;
    width: 100%;
  }
  
  li {
    display:inline;
  }
  
  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 350px;
    margin-right: 32px;
    text-align: center;
    line-height: 3;
    color: black;
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background: yellow;
  }
  
  a:hover {     
    background: orange;
  }
  
  a:active {
    background: red;
    color: white;
  }

  header {
    overflow: hidden;
    background-color: hsl(308, 73%, 32%);
    padding: 20px 10px;
  }

  
  h1,h2{
    
    color:yellowgreen;
    text-align: center;
    padding: 12px;
    text-decoration:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 25px;
    border-radius: 4px;

  }

  header img{
    position: absolute;
    float: inline-start;
    padding: 12px;
    
    padding-left: 570px;
    
  }
  main article h1{
    text-align: center;

  }
  p {
    text-align: justify;
    font-size: 32px;
    text-size-adjust:auto;
  
  }
  
  #float-left{
    float: left;
    border-radius: 200px;
    margin: 8px;
    border:auto;
    padding:12px;

    

    
    
  }
  
  footer{
     
      overflow: hidden;
      background-color: hsl(308, 73%, 32%);
     
      padding: 20px 10px;
    
      }
 